/*
Etiquetas que tiene atributo
por defecto

div, p, section, article:
Por defecto tiene el atributo
- display: block

span, img, a, strong:
Por defecto tiene el atributo
- display: inline

Formar de alinear
float: left, right
display: inline, flex, grid

*/

/*
Medidas
- Absolutas: px, pt
- Relativas: %, rem, em

REM: Se basa en el font-size del body
- Si en el body 16px || 1rem = 16px
- Si yo coloco 2rem = 32rem

EM: Se basa en el font-size que tenga el contenedor
- Si yo tengo div que contiene una p, ese div
- tiene por defecto font-size 16px
- al p si yo coloco el font-size 1em

*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Bold.woff2') format('woff2'),
        url('../fonts/Rubik-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Medium.woff2') format('woff2'),
        url('../fonts/Rubik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Regular.woff2') format('woff2'),
        url('../fonts/Rubik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}




html,
body{
  padding: 0; /* relleno*/
  margin: 0; /* margenes*/
}

body{
  font-family: 'Rubik';
  font-size: 16px;
}

.container{
  margin-left: auto;
  margin-right: auto;
}




.home-C-list article:nth-of-type(1) div{
  background: rgba(72, 87, 236, 0.2);
}

.home-C-list article:nth-of-type(2) div{
  background: rgba(255, 51, 68, 0.2);
}
.home-C-list article:nth-of-type(3) div{
  background:rgba(47, 239, 177, 0.2);
}
.home-C-list article:nth-of-type(4) div{
  background: rgba(247, 227, 109, 0.2);
}
.home-C-list{
  display: flex;
  flex-wrap: wrap;
}

.home-C-list article{
  width: 232px;
}

.home-C-list article div{
  align-items: center;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  height: 70px;
  width: 70px;
}


@media screen and (max-width: 1023px) {
  .header-menu{
    background: black;
		height: 100%;
		left: 0;
		overflow-x: hidden;
		padding-top 80px;
		position: fixed;
		top: 0;
		transition: all 0.5s;
		width: 0;
		z-index: 99;
  }
  .header-menu nav{
    flex-direction: column;
    margin-top: 5rem;
    position: relative;
    text-align: center;
    width: 100%;
  }
  .header-menu nav a{
    color: white;
    font-size: 2em;
    font-weight: bold;
    padding: 0.5em 0;
  }


}


/*
Min-width: Desde que medida se aplica hacia adelante
Max-width: Limite de la medida que lo ponga
*/
@media screen and (min-width: 1024px) {
  .container{
    max-width: 1000px;
  }
  .home-A-content{
    display: flex;
  }

  .header-content{
    align-items: center;
    display: flex;
  }
  .home-C-content{
    display: flex;
  }
  .home-C-list{
    display: flex;
  }
}

@media screen and (min-width: 1224px) {
  .container{
    max-width: 1200px;
  }
